.absolute-center {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.mdl-layout__container {
  background-color: #9E9E9E;
}

.mdl-textfield {
  width: 100%;
}

header .mdl-layout__header-row {
  width: 100%;
  height: 300px;
  position: relative;
  background: url("../img/blur-bg.jpg");
  background-size: cover;
}
  header .mdl-layout__header-row .app-header {
    height: 200px;
    width: 700px;
    background: white url("../img/gci-companion.png") no-repeat center;
  }

.mdl-card-wide {
  width: 50vw;
}

main {
  margin: 30px auto;
}

#gci-website-statuses .material-icons {
  vertical-align: middle;
}

#gci-website-statuses span span:last-child {
  font-weight: bold;
}

.gci-website__status-yes {
  color: #4CAF50;
}

.gci-website__status-no {
  color: #F44336;
}

#gci-website__error {
  font-size: 12px;
  color: #F44336;
}
